<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{status_info.[0]}} {{status_info.[1]}} - Bin slapper</title>
    <link rel="icon" href="/favicon.ico">
    <meta name="description" content="Slap yo bins in here!">
    <meta name="keywords" content="pastebin, documents, upload, sharing, free, hosting, document hosting"/>
    <link rel="stylesheet" href="/static/css/style.css?v={{style_version}}">
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/main.js?v={{main_js_version}}"></script>
</head>
<body>
<h1>Oh no!</h1>
<div class="m-auto text-center fs-0"><div class="text-red d-inline">{{status_info.[0]}}</div> {{status_info.[1]}}</div>
<hr class="mx-5"/>
<div class="text-center d-flex justify-content-center">Let's go&nbsp;<div class="fancy-link"><a href="/">home</a></div>&nbsp;instead, away from this mess&nbsp;<i>oof!</i></div>
{{> partials/footer}}
</body>
</html>